<br><br>
<app-header></app-header>
<br><br><br><br>
<div class="row" id="add">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
     <div class="card">
      <h2>Joueur</h2>
      <br>
      <form>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Nom de Joueur</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="userUsername" id="name" [(ngModel)]="userUsername">
          </div>
        </div>
        <div class="btnContent">
          <button type="submit" class="btn btn-primary" (click)="userLogin(userUsername)">Valider</button>
        </div>
      </form>
    </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <h2>Admin</h2>
        <br>
        <form>
          <div class="form-group row">
            <label for="adminUsername" class="col-sm-3 col-form-label">Nom de Admin</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="adminUsername"
                     name="adminUsername" [(ngModel)]="adminUsername">
            </div>
          </div>
          <div class="btnContent">
            <button type="submit" class="btn btn-primary" (click)="adminLogin(adminUsername)">Valider</button>
          </div>
        </form>
     </div>
   </div>
  </div>
