<div id="add">
    <div class="card">
      <h2>Créer un compte</h2>
      <br>
      <form>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Nom </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Mot de passe</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="name">
          </div>
        </div>
        <div class="btnContent" style="display: grid;">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </form>
   </div> 
 </div>