   <div class="row" id="header" style="border-bottom: 6px solid #fff;">
       <div class="col-lg-10">
        <h1>Thème : JAVA</h1>
       </div>

     <div class="col-lg-2">
        <div id="time">
          {{counter}}s
        </div>
     </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <button class="btn btn-danger" style="background: #64379f; border: 0; margin-top: 10px;">
                <h4>Allez "{{username}}" !</h4>
              </button>
        </div>

      <div class="col-lg-5">
         <h3 style="margin-top: 10px;">Cochez la bon réponse</h3>
      </div>
     </div>





<div style="padding: 16px;" *ngFor="let q of questions">
  <div class="card" id="quizz" style="width: 70rem;">
     <h4>{{q.question}} ...?</h4>

    <mat-radio-group aria-label="Select an option" (change)="setResponses($event)">
      <mat-radio-button [value]="q.response1">{{q.response1}}</mat-radio-button> <br>
      <mat-radio-button [value]="q.response2">{{q.response2}}</mat-radio-button> <br>
      <mat-radio-button [value]="q.response3">{{q.response3}}</mat-radio-button>
    </mat-radio-group>

  </div>
</div>


  <div style="text-align: center;">
    <button class="btn btn-danger" [disabled]="btnDisabled" style="background: #27104e; border: 0; margin-top: 10px;" (click)="openResult(level.themeName, level.difficulty)">
        <h4>Valider le quizz</h4>
      </button>

    <br><br>
</div>

