<h1 style="border-bottom: 6px solid #fff;">Thème : JAVA</h1>
<button class="btn btn-danger" style="background: #64379f; border: 0;">
  <h4>Allez "{{userName}}" !</h4>
</button>

<div style="padding: 16px; margin: 10% 40%; ">
  <div class="card" id="difficulty" style="width: 20rem;">
     <h4>Choissiez votre difficulté</h4>

    <mat-radio-group aria-label="Select an option" [(ngModel)]="level" name="gender" (ngModelChange)="setLevel($event)">
      <mat-radio-button value="{{l.id}}" style="margin-left: 10px;" *ngFor="let l of levels">{{l.difficulty}}</mat-radio-button> <br>
    </mat-radio-group>

     <br>
      <button type="button" class="btn btn-primary" [disabled]="idLevel === undefined" style="background: #64379f; margin-top: 15px;" [routerLink]="['/theme/quizz/', idLevel]">Demarrez le quizz</button>

  </div>
</div>
