<div class="content">
 <div class="row">
   <div class="col-lg-2"></div>
   <div class="col-lg-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top img-thumbnail" src="https://media.discordapp.net/attachments/747757123055910982/747774704437166080/download.png" alt="Card image cap">
    </div>  
   </div>
   <div class="col-lg-4" style="position: relative;">
    <h1 style="position: absolute; bottom: 80px;">Une seule réponse <br> est posible: </h1>
  </div>
  <div class="col-lg-2" id="loginBtn">
    <button class="btn btn-primary btn-lg" style="background: #512579 !important;
    color: #fff; border: 0;">Créer un compte joueur</button>
    <button class="btn btn-primary btn-lg" style="   background: #512579 !important;
    color: #fff; border: 0; margin-top: 5px; " (click)="openRegister()">Se connecter</button>
  </div>
 </div>

 <br><br><br><br>

 <div class="row" id="add">
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
   <div class="card">
    <h2>Joueur</h2>
    <br>
    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Nom de joueur</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name">
        </div>
      </div>
      <div class="btnContent">
        <button type="submit" class="btn btn-primary">Valider</button>
      </div>
    </form>
  </div>  
  </div>

  <div class="col-lg-4">
    <div class="card">
      <h2>Admin</h2>
      <br>
      <form>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Nom </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Mot de passe</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="name">
          </div>
        </div>
        <div class="btnContent">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </form>
   </div> 
 </div>
</div>

</div>