<div class="row">
    <div class="col-lg-3">
        <div id="sideBar">
            <div class="card" style="width: 18rem; cursor: pointer; margin-left: 60px; " routerLink="/home">
                <img class="card-img-top img-thumbnail" src="https://media.discordapp.net/attachments/747757123055910982/747774704437166080/download.png" alt="Card image cap">
              </div>
              <h3 style="margin: 18px 0 -12px 15px;">Thèmes</h3>
              <hr>

              <div style="padding: 16px;" *ngFor="let t of themes">
                  <div class="card" id="theme">
                     <h4>{{t.name}}</h4>
                     <button class="btn btn-danger" style="background: #3a9efd; border: 0;" [routerLink]="['/theme/themeContent/', t.id]">GO!</button>
                  </div>
              </div>

            <button type="button" class="btn btn-outline-danger" style="margin-left: 20px;">Deconnecter</button>
        </div>
    </div>
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
</div>
