<br><br>
<app-header></app-header>
<br><br><br><br>
<div class="container">
  <div class="card">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom du joueur</th>
            <th scope="col">Difficulté</th>
            <th scope="col">Thème</th>
            <th scope="col">Temps total</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jean</td>
            <td>Facile</td>
            <td>Java</td>
            <td>1m21</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Mariane</td>
            <td>Difficile</td>
            <td>HTML</td>
            <td>3m21</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Drmas</td>
            <td>Facile</td>
            <td>Python</td>
            <td>55sec</td>
            <td>9</td>
          </tr>
        </tbody>
      </table>
  </div>

<div>
    <button class="btn btn-primary" (click)="openRegister()"
    style="background: #3a9efd; margin-top: 15px; border-color: #3a9efd;">Créer une question</button>
</div>
</div>